.event-list {
  .card {
    margin-top: 1.6rem;
  }

  .card-title {
    font-weight: bold;
  }

  .card-body {
    button {
      margin-right: 1rem;
    }
  }

  .past-event {
    opacity: .5;
  }
}
